* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {


  background-color: #F4F5FB;


  --bg-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --font-family: "Inter", sans-serif;
  --title: bold 24px/32px var(--font-family);
  --label: 600 16px/20px var(--font-family);
  --paragraph: 500 16px/20px var(--font-family);
  --link: 500 14px/16px var(--font-family);
}

body {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 0; /* Remove qualquer margem padrão do body */
}

.box-list {
  max-width: 627px; /* Largura máxima do conteúdo */
  width: 100%; /* Faz com que a largura seja responsiva */
}


@media only screen and (max-width: 768px) {

body{
  margin-inline:  32px;
}

} 

 